:root {
  --accordion-bg: #f1ece1;
  --accordion-border: 1px solid #969491;
  --text-color: #65625e;
  --learn-more-bg: #e0e0e0;
  --font-size-20: 20px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --padding-24: 24px;
  --padding-8: 8px;
  --padding-10: 10px;
  --padding-6: 6px;
  --margin-10: 10px;
  --margin-8: 8px;
}

.accordion-component {
  border: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.accordion-component.expanded {
  width: 100%;
}

.content {
  position: relative;
  z-index: 0;
  height: 0;
  transform: translateY(-100%);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  display: flex;
}

.accordion-component.expanded > .content {
  transform: translateY(0);
  height: 100%;
}

.header {
  position: relative;
  z-index: 1;
  background-color: var(--accordion-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--accordion-border);
}

.arrow-container {
  display: block;
}

.arrow-container:has(.arrow.up) {
  padding: var(--padding-10) var(--padding-6) 0 0;
}

.arrow-container:has(.arrow.down) {
  padding: 0 var(--padding-6) var(--padding-10) 0;
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: var(--padding-6);
  transition: all 0.2s ease-in-out;
}

.up {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.header .title {
  padding: var(--padding-8) 0;
  font-size: var(--font-size-20);
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.image {
  width: 400px;
  height: auto;
  display: block;
}

.text-container {
  flex: 1;
  padding: var(--padding-24);
}

.text-container .title {
  margin-bottom: var(--margin-10);
  letter-spacing: 1px;
}

.text-container .description {
  font-size: var(--font-size-20);
  color: var(--text-color);
  letter-spacing: 0.2px;
}

.text-container .learn-more-button {
  background-color: var(--learn-more-bg);
  border: none;
  font-size: var(--font-size-14);
  line-height: 1.5;
  margin-top: var(--margin-8);
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .accordion-component {
    width: 100%;
    margin: var(--margin-10) 0;
  }

  .content {
    flex-direction: column;
    padding-top: var(--padding-24);
    transform: translateY(0);
    height: 100%;
  }

  .header {
    display: none;
  }

  .accordion-component {
    margin: 0;
  }

  .image-container {
    display: none;
  }

  .text-container .learn-more-button {
    background-color: var(--learn-more-bg);
    border: none;
    font-size: var(--font-size-16);
    line-height: 1.5;
    margin-top: var(--margin-8);
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }

  .text-container {
    background-image: var(--feature-bg-url);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .text-container .title {
    margin-bottom: var(--margin-8);
  }
}
