.story-card {
  width: 488px;
  display: flex;
  .text-container {
    padding: 0 24px;
    h4 {
      font-size: 32px;
      line-height: 1.5;
      font-family: "gluten";
      font-weight: 400;
      letter-spacing: 0.2px;
      margin: 0;
    }
    p {
      font-size: 14px;
      font-family: "inter";
      padding-top: 4px;
      padding-bottom: 15px;
      letter-spacing: 0;
    }
    .read-more-button {
      background-color: #e0e0e0;
      border: none;
      font-size: 14px;
      line-height: 1.5;
      margin-top: 0;
      padding: 4px 8px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .story-card {
    width: 100%;
    .text-container {
      padding: 32px 0;
      border-bottom: 1px solid #c6c5c3;
      h4 {
        padding-top: 0;
      }

      p {
        padding-left: 16px;
        font-size: 16px;
        padding-bottom: 0;
      }
      .read-more-button {
        background-color: transparent;
        border: 1px solid #969491;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 16px;
        padding: 7px 12px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
    .story-mob-display {
      display: flex;
    }
    .mob-img {
      margin-top: 4px;
      width: 100px;
      height: 100px;
    }
  }
}
